[Unit]
Description=Cowrie SSH/Telnet Hive
After=network.target

[Service]
Type=simple
User=cowrie
WorkingDirectory=/opt/cowrie
Environment=COWRIE_STDOUT=yes
Environment=PATH=/opt/cowrie/cowrie-env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/opt/cowrie/cowrie-env/bin/cowrie start
Restart=always
RestartSec=5
# -mindepth 1: don't match dl/ itself, only files inside it
ExecStartPre=/bin/find /var/log/hive/dl/ -mindepth 1 -mtime +7 -delete

[Install]
WantedBy=multi-user.target
